@{
    ViewBag.Title = "Inactive Account";
}

<div class="text-danger">
    <h4>Inactive Account</h4>
    <p>You have registered but you have not been enrolled into a cohort yet. Please contact your instructor or assistant to complete the required steps.</p>
</div>